body{
    overflow: hidden;
}

a{
    text-decoration: none;
    color: white;
}

        body{
            font-family: "Sarabun", sans-serif;
            font-size: 15px;

        }
        .firstproduct{
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: start;

        }
        .desc{
            color: green;
            display: flex;
            align-items: start;
            justify-content: left;
    
            margin-right: 1px;
            flex-direction: column;
            max-width: 330px;
        }
        .Title{
            color: black;
            font-size: 50px;
            
        }
        .dollar50{
            color: black;
        }
        .buybut{
            background-color: lightgreen;
            border: none;
            height: 60px;
        	width: 100px;
            border-radius: 50px;
            position: relative;
            top: 40px;
            cursor: pointer;
        

        }
        .striked99{
            color: rgb(191, 0, 0);
        }
        .instock{
            padding-left: px;
        }
        .buybut2{
            background-color: rgb(184, 252, 82);
            border: none;
            height: 60px;
        	width: 100px;
            border-radius: 50px;
            position: relative;
            bottom: 20px;
            left: 150px;
            cursor: pointer;
        }


        .dropbtn {
  background-color: #f6f6f6;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 14px;
  border: solid 2px;
  cursor: pointer;
  border-radius: 50px;
  width: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 60px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #7b7b7b;
}
.imagefirst{
    min-height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.Arab{
    width: 100%;
    height: 100%;
    position: static;
}

.nav{
    text-align: center;
    display: inline;
    width: 100%;
    margin: 0;
    height: 70px;
    }
    nav ul{
    width: 100%;
    }
    nav ul li{
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    }
    #home{
    text-align: center;
    font-size: 30px;
    }
    nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
    nav ul li a:hover{
    color: greenyellow;
    }

    .heading{
        color: rgb(255, 255, 255);
        background-color: rgba(136, 8, 8);
        text-align: left;
        font-size: 20px;
        font-family: "Sarabun", sans-serif;
        padding-left: 30px;
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;
    }
    .container{
        width: 600px;
        display: flex;
        justify-content: left;
        font-family: "Sarabun", sans-serif;
    }


.arrow{
    border: 1px solid rgba(88, 88, 88, 0.438);
    height: 80px;
    display: flex;
    }

.arrow_Img{
    width: 100%;
    height: 100%;
    bottom: 0px;
    border: 1px solid rgba(88, 88, 88, 0.438);
}
.arrow_container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: 45px;

}
.Tshirt{
    width: 370px;
    height: 500px;
    margin-top: 50px;
    padding-left: 60px;
}

.Tshirt2{
    width: 450px;
    height: 500px;
    margin-top: 50px;
}

.fa-solid.fa-house{
    color: rgb(255, 255, 255);

    position: relative;

}

.fa-regular.fa-envelope{
    position: relative;

    
}

.fa-solid.fa-circle-info.fa-lg{
    position: relative;

}

nav{
    text-align: center;
    display: flex;
    justify-content: end;
    width: 100%;
    margin: 0;
    height: 70px;
    }
    nav ul{
    width: 60%;
    display: flex;
    justify-content: space-around;
    }
    nav ul li{
    display: inline-block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    }
    #home{
    text-align: center;
    font-size: 30px;
    }
    nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    }
    nav ul li a:hover{
    color: rgb(255, 0, 0);
    }
